<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MySection" type="Simple.CustomConfiguration.MySection, Simple.CustomConfiguration" />
    <sectionGroup name="MySectionGroup" type="Simple.CustomConfiguration.MySectionGroup,Simple.CustomConfiguration">
      <section name="MySection1" type="Simple.CustomConfiguration.MySection,Simple.CustomConfiguration" />
      <section name="MySection2" type="Simple.CustomConfiguration.MySection,Simple.CustomConfiguration" />
    </sectionGroup>
  </configSections>

  <MySection Code="23">

    <Member Id="2" Name="余小章" />

    <Members>
      <add Id="1" Name="Yao1"></add>
      <add Id="2" Name="Yao2"></add>
      <add Id="3" Name="Yao3"></add>
    </Members>
  </MySection>

  <MySectionGroup>
    <MySection1 Code="9571">
      <Member Id="1" Name="MySection1" />
    </MySection1>
    <MySection2 Code="9572">
      <Member Id="2" Name="MySection2" />
    </MySection2>
  </MySectionGroup>
</configuration>