<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="MySectionGroup" type="Simple.CustomConfiguration.MySectionGroup,Simple.CustomConfiguration">
      <section name="MySection1" type="Simple.CustomConfiguration.MySection,Simple.CustomConfiguration" />
      <section name="MySection2" type="Simple.CustomConfiguration.MySection,Simple.CustomConfiguration" />
    </sectionGroup>
  </configSections>

  <MySectionGroup>
    <MySection1 Code="9572">
      <Member Id="2" Name="MySection1" />
    </MySection1>
  </MySectionGroup>
</configuration>