<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MySection" type="Simple.CustomConfiguration.MySection, Simple.CustomConfiguration" />
  </configSections>
  <MySection>
    <Members>
      <add Id="1" Name="Yao1"></add>
      <add Id="2" Name="Yao2"></add>
      <add Id="3" Name="Yao3"></add>
    </Members>
  </MySection>
</configuration>